<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
</head>
<body>
  <h1>This Cuisine Category Has Been Deleted</h1>
  <h2><a href="/">Home</a></h2>
</body>
