<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
</head>
<body>
  <h2>You created the new cuisine category of:</h2>
  <h2><a href="/cuisinelist">View Cuisine List</a></h2>
  <h2><a href="/">Back Home</a></h2>
</body>
