<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">Cuisine List</h1>
  <div class="list">
    <ul>
      @foreach(var cuisine in Model)
      {
        <a href="/@cuisine.GetId()/@cuisine.GetName()/restaurant/list"><li>@cuisine.GetName()</li></a>
      }
    </ul>
    <h2><a href="/restaurant/new">Add Restaurant to Cuisine Category</a></h2>
    <a href="/cuisine/list/cleared"><button type="button" class="btn btn-danger">Clear Cuisine List</button></a>
    <h2><a href="/">Back Home</a></h2>
  </div>
</body>
