<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">New Cuisine Created</h1>
  <h2>You created the new cuisine category of: @Model.GetName()</h2>
  <h2><a href="/cuisine/list">View Cuisine List</a></h2>
  <h2><a href="/">Back Home</a></h2>
</body>
