<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">Welcome!</h1>
  <form class="form-group" action="/cuisine/created" method="post">
    <h2>Create A Cuisine Category</h2>
    <p>Name/Type: <input type="text" name="cuisine-name" class="form-control"></p>
    <button type="submit" class="btn btn-success">Create Category</button>
  </form>
  <h2><a href="/cuisine_list">View Cuisine List</a></h2>
</body>
